<!DOCTYPE html>
<html ng-app="todosApp">

<head>
	<meta charset="UTF-8">
	<title>Angular To Do App</title>
	<!-- Latest compiled and minified CSS for bootstrap -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.min.js" type="text/javascript"></script>
	<script src="./app.js"></script>
	<script src="./controllers.js"></script>
</head>

<body>
	<div ng-controller="TodoController">
		<form ng-submit="addTodo(todo.newTodo)">
			Name
			<input ng-model="todo.newTodo.name">
			<br> Task
			<input ng-model="todo.newTodo.task">
			<br>

			<button type="submit">Add Todo</button>
		</form>
		<p>Todos</p>
		<ul>
			<li ng-repeat="todo in todo.data">{{ todo.name }} <br>{{todo.task}} </li>
		</ul>
		<br>
		<br>
		<button ng-click="delete()">Delete</button>

	</div>


</body>

</html>
